@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: 107 34 181;
    
    --color-blue: 0 148 198;
    --color-pink: 219 43 57;
    --color-orange: 243 167 18;
    --color-green: 122 199 79;

    --color-yellow: 240 247 87;
    --color-gray: 48 48 48;
    --color-gray-dark: 33 38 46;
    --color-gray-light: 115 121 131;
    --color-white: 255 255 255;
  }
}

html {
    color-scheme: dark;
}

body {
    background-color: rgb(var(--color-gray-dark));
    min-width: 320px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}